body, html {
    height: 100%;
    margin: 0px;
}
nav li {
    display: inline;
    margin: 20px;
    cursor: pointer;
    color: white;
    }
nav ul {
    background-color: black;
    margin: 0;
    list-style-type: none;
    width: 100%;
}  
nav {
    display: block
}  